1. **Processing the data**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("train.csv")

# Handling missing values
df['Age'] = df['Age'].fillna(df['Age'].mean()) #imputing using the mean since the Age column is an integer datatype
df['Cabin'] = df['Cabin'].fillna(df['Cabin'].mode()[0]) 
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0]) #imputing using the mode

# Encoding categorical variables
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})  
df['Embarked'] = df['Embarked'].map({'C': 0, 'Q': 1, 'S': 2})


print(df[['Pclass', 'Sex', 'Age', 'Fare', 'Embarked']].head())

   Pclass  Sex   Age     Fare  Embarked
0       3    0  22.0   7.2500         2
1       1    1  38.0  71.2833         0
2       3    1  26.0   7.9250         2
3       1    1  35.0  53.1000         2
4       3    0  35.0   8.0500         2

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,B96 B98,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,0
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,B96 B98,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,2
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,B96 B98,2

2. **Exploratory Dat analysis (EDA)**

In [ ]:
# Gender and survival count
plt.figure(figsize=(10, 6))
sns.countplot(data=df, x='Sex', hue='Survived', palette='coolwarm')
plt.title('Survival Count by Gender')
plt.xlabel('Gender')  #0--> male , 1-->Female
plt.ylabel('Count')
plt.show()

# Pclass and survival count
plt.figure(figsize=(10, 6))
sns.countplot(data=df, x='Pclass', hue='Survived', palette='coolwarm')
plt.title('Survival Count by Pclass')
plt.xlabel('Pclass')
plt.ylabel('Count')
plt.show()

# Age and survival density
plt.figure(figsize=(10, 6))
sns.kdeplot(data=df, x='Age', hue='Survived', fill=True, palette='coolwarm')
plt.title('Survival Likelihood Based on Age')
plt.xlabel('Age')
plt.ylabel('Density')
plt.show()

# "Fare" and survival distribution
plt.figure(figsize=(10, 6))
sns.histplot(data=df, x='Fare', hue='Survived', kde=True, palette='coolwarm')
plt.title('Fare Distribution by Survival')
plt.xlabel('Fare')
plt.ylabel('Density')
plt.show()

# "Embarked" and survival count
plt.figure(figsize=(10, 6))
sns.countplot(data=df, x='Embarked', hue='Survived', palette='coolwarm')
plt.title('Survival Count by Embarked')
plt.xlabel('Embarked')
plt.ylabel('Count')
plt.show()

notes : 

  - Female passengers were more likely to survive than male passengers
  - Pclass A passengers have a higher chance of surviving than the other class passengers.
  - passengers from the age range : [10-40] had a higher chance of surviving
  - There appears to be a strong correlation between the fare paid and the likelihood of survival, with 
     higher-fare passengers more likely to have survived the disaster.
  - Passengers who boarded the Titanic in groups had a better chance of survival compared to those who 
     boarded alone.
    
**The Titanic disaster was influenced by a complex interplay of *socioeconomic*, *social*, and *demographic* factors that ultimately determined the survival outcomes of the passengers.**

3. **Creating the Model** :

In [14]:
import statsmodels.api as sm

# The selected features are the ones that are most relevant to the chances of survival
X = df[['Pclass', 'Sex', 'Age', 'Fare', 'Embarked']]
y = df['Survived']


X = sm.add_constant(X)


model = sm.Logit(y, X)
result = model.fit()


print(result.summary())

Optimization terminated successfully.
         Current function value: 0.448437
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  891
Model:                          Logit   Df Residuals:                      885
Method:                           MLE   Df Model:                            5
Date:                Sat, 17 Aug 2024   Pseudo R-squ.:                  0.3266
Time:                        15:26:12   Log-Likelihood:                -399.56
converged:                       True   LL-Null:                       -593.33
Covariance Type:            nonrobust   LLR p-value:                 1.437e-81
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.5075      0.503      4.984      0.000       1.522       3.494
Pclass        -1.1453      0.136     -8.423      0.000      -1.412      -0.879
Sex            2.5982      0.188     13.828      0.000       2.230       2.966
Age           -0.0334      0.007     -4.497      0.000      -0.048      -0.019
Fare          -0.0003      0.002     -0.150      0.881      -0.004       0.004
Embarked      -0.2796      0.113     -2.479      0.013      -0.501      -0.059
==============================================================================

- Let's test the model with a simple example

In [19]:
test_data = pd.DataFrame({
    'const': [1],  # constant term
    'Pclass': [1],
    'Sex': [0],
    'Age': [25],
    'Fare': [50],
    'Embarked': [0]  #male , Pclass:1 , 25yo , Fare:50 , embarked : alone 
})

test_data = test_data[X.columns] 

# Predict using the model
prediction = result.predict(test_data)
print("Survival Probability:", prediction[0])

Survival Probability: 0.6254454741825868

**Note**: 
notice that the passenger with these feateures (Pclass:1 , Male , 25yo , Payed 50$ for the fare , Embarked Alone) , has a **62.54%** chance of survival , based on our model .